/* Colors used: 
Yellow: F3C677
Orange: FF521B
Blue: 586BA4
Dark: 0C1618
Light: F3F3F3 */
* {
    font-family: Georgia, Verdana, Garamond;
    background-color: #F3F3F3;
}

.recipe-homepage {
    background-color: #F3C677;
}

.headers {
    font-weight: bold;
    color: #586BA4;
}

.mainpage-header {
    color: #0C1618;
}

.food-description{
    margin-bottom: 40px;
}
.recipe-name{
    text-align: center;
    background-color: #586BA4;
    color: #F3C677;
    border: solid 2px #FF521B;
    padding: 15px;
    margin-bottom: -5px;
}

.steps-header,
.ingredient-header {
    font-size: 20px;
    background-color: #F3C677;
    color: #586BA4;
    border-bottom: solid 3.5px #FF521B;
    padding: 10px;
    text-align: center;
}

.recipe-list, .recipe-link {
    color: #586BA4;
}

.photo {
    width: 400px;
    height: auto;
}